.addMemberButton {
    position: absolute;
    right: 56px;
    bottom: 64px;
  }
  
  mat-card-content {
    padding: 0!important;
  }
  
  mat-card-header {
    flex-direction: row-reverse;
    justify-content: space-between;

    mat-card-subtitle {
      font-style: italic;
      cursor: pointer;

      &:hover {
        color:black !important;
      }
    }
  }

  