<mat-card class="example-card">
  <mat-card-header class="backgroundHeader">
    <mat-card-title>School of Hunters</mat-card-title>
    <mat-card-subtitle>Example for a simple CRM</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      This app is an example for a simple CRM. To make it more enjoyable for
      you, it is based on the series Children of Angels. In it, a registered
      user can add members to a fictious school of hunters, and edit their basic info like
      adresses and the kind. They can also set the level of each member - how
      far the member has progressed in training - add notes as well as raise issues.
      Members that do not want to partipate in the story anymore can be sent to
      the archive.
    </p>
    <p>
      Check out the features! Click on the dashboard tiles to take you to the
      respective component. Edit, archive members, and restore them. Please be
      careful about adding new members though - the shadow or light channelers
      may be out to get you...
    </p>
    <p>
      More info about the upcoming translation of the German series can be found
      <a target="_blank" href="https://annakthomas.de/booksites/children-of-angels.html"
        >here.</a
      >
    </p>
    <div class="imageContainer">
        <img
        mat-card-image
        src="assets/img/1-DemonRide Cover.jpg"
        alt="Cover of Demon Ride"
      />
      <img
        mat-card-image
        src="assets/img/2-DemonLeap Cover.jpg"
        alt="Cover of Demon Leap"
      />
      <img
        mat-card-image
        src="assets/img/3-DemonDream Cover.jpg"
        alt="Cover of Demon Dream"
      />
      </div>
  </mat-card-content>
</mat-card>
