<div class="dialogContainer">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Do you want to restore this user?</h1>
    <div mat-dialog-content class="addUserDialog width60vw">
        <mat-card>  
        <mat-card-content>{{ this.user?.firstName }} {{ this.user?.lastName }}</mat-card-content>
      </mat-card>
    </div>
    <div mat-dialog-actions>
      <button mat-button [disabled]="loading" (click)="this.dialogRef.close()">
        Cancel
      </button>
      <button
        mat-button
        [disabled]="loading"
        (click)="restoreUser()"
        cdkFocusInitial
      >
        Restore
      </button>
    </div>
  </div>
