<mat-drawer-container class="matDrawerContainer" autosize >
  <mat-drawer #drawer class="sideNav" [opened]="true" mode="side">
    <div class="logoContainer">
      <img class="logo" src="/assets/img/simpleCRM-Blue-logo.png" alt="simpleCRM Logo">
    </div>

    <ul class="sideNavMenu">
      <li routerLink="/dashboard" routerLinkActive="router-link-active"><mat-icon color="primary">fact_check</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="router-link-active"><mat-icon color="primary">person</mat-icon>User</li>
      <li routerLink="/archive" routerLinkActive="router-link-active"><mat-icon color="primary">inventory_2</mat-icon>Archive</li>      
    </ul>
  </mat-drawer>

  <div class="topBarContent" *ngIf="this.authService.isLoggedIn">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menuIcon" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="routerContainer"><router-outlet></router-outlet></div>
  
</mat-drawer-container>
