<mat-card>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-card-header>
      <mat-card-title>Please enter your Credentials for Registration</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="outline" class="marginTop16">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="this.user.name" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="marginTop16">
      <mat-label>Valid Email</mat-label>
      <input matInput placeholder="Email" [formControl]="email" />
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" />
      <mat-hint align="start"><strong>7 characters min</strong> </mat-hint>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repeat your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="passwordValidation"/>
        <mat-hint align="start"><strong>7 characters min</strong> </mat-hint>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    <mat-card-actions>
      <button (click)="createNewUser()" mat-button>Register</button>
      <button mat-button routerLink="/sign-in">Back to LogIn</button>
    </mat-card-actions>
  </mat-card>
  
