<mat-card>
    <mat-card-header><h1>Archived Members</h1></mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let member of firebaseservice.archiveList" [routerLink]="['/archived-member/' + member.id]">
                <td>{{ member.firstName }} {{ member.lastName }} </td>
                <td>{{ member.email }}</td>
                <td>{{ member.city }}</td>
              </tr>
        </table>
    </mat-card-content>
  </mat-card>

