<mat-card>
    <mat-card-header><h1>Archived Members</h1></mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of userList" [routerLink]="['/archived-user/' + user.id]">
                <td>{{ user.firstName }} {{ user.lastName }} </td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
              </tr>
        </table>
    </mat-card-content>
  </mat-card>

