<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            <tr>
                <td>1blabla</td>
                <td>1blabla</td>
                <td>1blabla</td>
            </tr>
            <tr>
                <td>1blabla</td>
                <td>1blabla</td>
                <td>1blabla</td>
            </tr>


        </table>
    </mat-card-content>
  </mat-card>
<button (click)="openDialogue()" class="addUserButton" mat-fab color="primary" matTooltip="Add User" [matTooltipPosition]="position.value!">
    <mat-icon>add</mat-icon>
</button>
