<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of firebaseservice.userList" [routerLink]="['/user/' + user.id]">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
              </tr>
        </table>
    </mat-card-content>
  </mat-card>
<button (click)="openDialogue()" class="addUserButton" mat-fab color="primary" matTooltip="Add User" [matTooltipPosition]="position.value!">
    <mat-icon>add</mat-icon>
</button>
