html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.marginRight16 {
  margin-right: 16px;
}
.marginTop16 {
  margin-top: 16px;
}

.marginTop32 {
  margin-top: 32px;
}

.width100 {
  width: 100%;
}

.width60vw {
  width: 60vw;
}

.alert {
  color: rgb(255,64,129);
}

 .pinUpperRightCorner {
  position: absolute;
  top: 0;
  right:0;
 }

 mat-dialog-content:first-child {
  margin-top: 8px;
}

.dialog {
  display: flex;
  
  mat-dialog-content:first-child {
      margin-top: 8px;
    }
}

.dialogContainer {
  position: relative;
}

.center {
  justify-content: center;
}